[Unit]
Description=Web Application Service
After=network.target
ConditionPathExists=/tmp/instance_ready

[Service]
User=csye6225
Group=csye6225
WorkingDirectory=/opt/csye6225
ExecStart=node app.js
Restart=always

[Install]
WantedBy=multi-user.target
