[Unit]
Description=Web Application Service
After=network.target google_metadata_script.service
Requires=google_metadata_script.service
[Service]
User=csye6225
Group=csye6225
WorkingDirectory=/opt/csye6225
ExecStart=/usr/bin/node app.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
